interactions:
- request:
    body: '{"createTokenWithScopes": ["chat"], "expiresInMinutes": null}'
    headers:
      Content-Type:
      - application/json
      x-ms-content-sha256:
      - RgFKX8sq6gKDc377EdeILf3jgzCijxLOR8s04qluHkc=
      x-ms-date:
      - Wed, 16 Nov 2022 04:39:25 GMT
    method: POST
    uri: https://sanitized.communication.azure.com/identities?api-version=2022-10-01
  response:
    body:
      string: '{"identity": {"id": "sanitized"}, "accessToken": {"token": "sanitized",
        "expiresOn": "2022-11-17T04:39:25.760752+00:00"}}'
    headers:
      api-supported-versions:
      - 2020-07-20-preview2, 2021-02-22-preview1, 2021-03-07, 2021-10-31-preview,
        2021-11-01, 2022-06-01, 2022-10-01
      content-type:
      - application/json; charset=utf-8
      ms-cv:
      - xwy/hp0EqE+bnZK0UJNwOQ.0
      x-processing-time:
      - 133ms
    status:
      code: 201
      message: Created
- request:
    body: '{"topic": "thread-topic", "participants": []}'
    headers:
      Content-Type:
      - application/json
      repeatability-request-id:
      - d63d195d-8599-4319-a1a6-5cae7d75d71b
    method: POST
    uri: https://sanitized.communication.azure.com/chat/threads?api-version=2021-09-07
  response:
    body:
      string: '{"chatThread": {"id": "sanitized", "topic": "thread-topic", "createdOn":
        "2022-11-16T04:39:26Z", "createdByCommunicationIdentifier": {"rawId": "sanitized",
        "communicationUser": {"id": "sanitized"}}}}'
    headers:
      api-supported-versions:
      - 2021-03-07, 2021-04-05-preview6, 2021-09-07, 2022-11-15-preview8
      content-type:
      - application/json; charset=utf-8
      location:
      - https://clitest000002.communication.azure.com/chat/threads/19%3AWoudiPk6_OIiqzVNZQ5MCP4ZrFlQxRKzhIhlanZ3iEw1@thread.v2
      ms-cv:
      - fvMrm127VU+5iknN2+0wtA.0
      x-processing-time:
      - 818ms
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
    method: GET
    uri: https://sanitized.communication.azure.com/chat/threads/sanitized/readReceipts?api-version=2021-09-07
  response:
    body:
      string: '{"value": []}'
    headers:
      api-supported-versions:
      - 2021-03-07, 2021-04-05-preview6, 2021-09-07, 2022-11-15-preview8
      content-type:
      - application/json; charset=utf-8
      ms-cv:
      - o8Wi3hD+AUifvjPSpIdtPg.0
      x-processing-time:
      - 163ms
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://sanitized.communication.azure.com/chat/threads/sanitized/messages?api-version=2021-09-07
  response:
    body:
      string: '{"value": [{"id": "1668573566939", "type": "topicUpdated", "sequenceId":
        "2", "version": "1668573566939", "content": {"topic": "thread-topic", "initiatorCommunicationIdentifier":
        {"rawId": "8:acs:594248f7-e6ca-452b-a026-b12e4de159d3_00000015-1e9d-b73b-eaf3-543a0d00f6a3",
        "communicationUser": {"id": "8:acs:594248f7-e6ca-452b-a026-b12e4de159d3_00000015-1e9d-b73b-eaf3-543a0d00f6a3"}}},
        "createdOn": "2022-11-16T04:39:26Z"}, {"id": "1668573566856", "type": "participantAdded",
        "sequenceId": "1", "version": "1668573566856", "content": {"participants":
        [{"communicationIdentifier": {"rawId": "8:acs:594248f7-e6ca-452b-a026-b12e4de159d3_00000015-1e9d-b73b-eaf3-543a0d00f6a3",
        "communicationUser": {"id": "8:acs:594248f7-e6ca-452b-a026-b12e4de159d3_00000015-1e9d-b73b-eaf3-543a0d00f6a3"}},
        "shareHistoryTime": "1970-01-01T00:00:00Z"}], "initiatorCommunicationIdentifier":
        {"rawId": "8:acs:594248f7-e6ca-452b-a026-b12e4de159d3_00000015-1e9d-b73b-eaf3-543a0d00f6a3",
        "communicationUser": {"id": "8:acs:594248f7-e6ca-452b-a026-b12e4de159d3_00000015-1e9d-b73b-eaf3-543a0d00f6a3"}}},
        "createdOn": "2022-11-16T04:39:26Z"}]}'
    headers:
      api-supported-versions:
      - 2021-03-07, 2021-04-05-preview6, 2021-09-07, 2022-11-15-preview8
      content-type:
      - application/json; charset=utf-8
      ms-cv:
      - OCdcD079fkW6NQDsuDFhPA.0
      x-processing-time:
      - 115ms
    status:
      code: 200
      message: OK
- request:
    body: '{"chatMessageId": "1668573566939"}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://sanitized.communication.azure.com/chat/threads/sanitized/readReceipts?api-version=2021-09-07
  response:
    body:
      string: ''
    headers:
      api-supported-versions:
      - 2021-03-07, 2021-04-05-preview6, 2021-09-07, 2022-11-15-preview8
      ms-cv:
      - Yc33S4B3dkO1HUxKmjuOZw.0
      x-processing-time:
      - 162ms
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://sanitized.communication.azure.com/chat/threads/sanitized/readReceipts?api-version=2021-09-07
  response:
    body:
      string: '{"value": [{"senderCommunicationIdentifier": {"rawId": "8:acs:594248f7-e6ca-452b-a026-b12e4de159d3_00000015-1e9d-b73b-eaf3-543a0d00f6a3",
        "communicationUser": {"id": "8:acs:594248f7-e6ca-452b-a026-b12e4de159d3_00000015-1e9d-b73b-eaf3-543a0d00f6a3"}},
        "chatMessageId": "1668573566939", "readOn": "2022-11-16T04:39:29Z"}]}'
    headers:
      api-supported-versions:
      - 2021-03-07, 2021-04-05-preview6, 2021-09-07, 2022-11-15-preview8
      content-type:
      - application/json; charset=utf-8
      ms-cv:
      - AMievDdOpUOSRGadyMaBiA.0
      x-processing-time:
      - 78ms
    status:
      code: 200
      message: OK
version: 1
