interactions:
- request:
    body: '{"createTokenWithScopes": ["chat"], "expiresInMinutes": null}'
    headers:
      Content-Type:
      - application/json
      x-ms-content-sha256:
      - RgFKX8sq6gKDc377EdeILf3jgzCijxLOR8s04qluHkc=
      x-ms-date:
      - Wed, 16 Nov 2022 04:36:03 GMT
    method: POST
    uri: https://sanitized.communication.azure.com/identities?api-version=2022-10-01
  response:
    body:
      string: '{"identity": {"id": "sanitized"}, "accessToken": {"token": "sanitized",
        "expiresOn": "2022-11-17T04:36:04.3116935+00:00"}}'
    headers:
      api-supported-versions:
      - 2020-07-20-preview2, 2021-02-22-preview1, 2021-03-07, 2021-10-31-preview,
        2021-11-01, 2022-06-01, 2022-10-01
      content-type:
      - application/json; charset=utf-8
      ms-cv:
      - fXNHglGAxkq84BMbI2MHWA.0
      x-processing-time:
      - 131ms
    status:
      code: 201
      message: Created
- request:
    body: '{"topic": "chat-topic", "participants": []}'
    headers:
      Content-Type:
      - application/json
      repeatability-request-id:
      - 89233da2-a6d6-4b41-b455-7bce8494780b
    method: POST
    uri: https://sanitized.communication.azure.com/chat/threads?api-version=2021-09-07
  response:
    body:
      string: '{"chatThread": {"id": "sanitized", "topic": "chat-topic", "createdOn":
        "2022-11-16T04:36:05Z", "createdByCommunicationIdentifier": {"rawId": "sanitized",
        "communicationUser": {"id": "sanitized"}}}}'
    headers:
      api-supported-versions:
      - 2021-03-07, 2021-04-05-preview6, 2021-09-07, 2022-11-15-preview8
      content-type:
      - application/json; charset=utf-8
      location:
      - https://clitest000002.communication.azure.com/chat/threads/19%3AI2GTscgKLphVnh8de0S3EQLgFP92tlzbTDBQuc76WkQ1@thread.v2
      ms-cv:
      - ZvKgmvukhEOCePNKJ76GJw.0
      x-processing-time:
      - 565ms
    status:
      code: 201
      message: Created
- request:
    body: '{"participants": [{"communicationIdentifier": {"rawId": "8:acs:00000000-1111-2222-3333-444444444444_55555555-6666-7777-8888-999999999999",
      "communicationUser": {"id": "8:acs:00000000-1111-2222-3333-444444444444_55555555-6666-7777-8888-999999999999"}}}]}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://sanitized.communication.azure.com/chat/threads/sanitized/participants/:add?api-version=2021-09-07
  response:
    body:
      string: '{"invalidParticipants": [{"code": "403", "message": "Permissions check
        failed", "target": "8:acs:00000000-1111-2222-3333-444444444444_55555555-6666-7777-8888-999999999999"}]}'
    headers:
      api-supported-versions:
      - 2021-03-07, 2021-04-05-preview6, 2021-09-07, 2022-11-15-preview8
      content-type:
      - application/json; charset=utf-8
      ms-cv:
      - Sm4wLhqHxU+dlhpZaAF5iw.0
      x-processing-time:
      - 104ms
    status:
      code: 201
      message: Created
- request:
    body: '{"participants": [{"communicationIdentifier": {"rawId": "8:acs:fakeid===",
      "communicationUser": {"id": "8:acs:fakeid==="}}}]}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://sanitized.communication.azure.com/chat/threads/sanitized/participants/:add?api-version=2021-09-07
  response:
    body:
      string: '{"CommunicationError": {"Code": "BadRequest", "Message": "Identifier
        format is invalid (8:acs:fakeid===).", "Details": []}}'
    headers:
      api-supported-versions:
      - 2021-03-07, 2021-04-05-preview6, 2021-09-07, 2022-11-15-preview8
      content-type:
      - application/json
      ms-cv:
      - qOZRiux5gUCS2akrJAy0aQ.0
      x-processing-time:
      - 10ms
    status:
      code: 400
      message: Bad Request
version: 1
