interactions:
- request:
    body: '{"createTokenWithScopes": ["room"], "expiresInMinutes": null}'
    headers:
      Content-Type:
      - application/json
      x-ms-content-sha256:
      - Cbf5CNSvF//wggd4htQnJJkz1jBnpUF4gVsXLOnINaU=
      x-ms-date:
      - Tue, 15 Nov 2022 22:08:52 GMT
    method: POST
    uri: https://sanitized.communication.azure.com/identities?api-version=2022-10-01
  response:
    body:
      string: '{"error": {"code": "ValidationError", "message": "createTokenWithScopes[0]:
        Error converting value \"room\" to type ''Microsoft.Azure.Communication.Auth.Contract.Model.V9.Requests.CommunicationIdentityTokenScope''.
        Path ''createTokenWithScopes[0]'', line 1, position 33.", "target": "createTokenWithScopes[0]"}}'
    headers:
      content-type:
      - application/json
      ms-cv:
      - zS7AJ9z3Uk6RjYAjyTFU2g.0
      x-processing-time:
      - 38ms
    status:
      code: 400
      message: Bad Request
version: 1
