interactions:
- request:
    body: '{"createTokenWithScopes": ["chat"], "expiresInMinutes": null}'
    headers:
      Content-Type:
      - application/json
      x-ms-content-sha256:
      - RgFKX8sq6gKDc377EdeILf3jgzCijxLOR8s04qluHkc=
      x-ms-date:
      - Wed, 16 Nov 2022 04:41:00 GMT
    method: POST
    uri: https://sanitized.communication.azure.com/identities?api-version=2022-10-01
  response:
    body:
      string: '{"identity": {"id": "sanitized"}, "accessToken": {"token": "sanitized",
        "expiresOn": "2022-11-17T04:41:00.9628838+00:00"}}'
    headers:
      api-supported-versions:
      - 2020-07-20-preview2, 2021-02-22-preview1, 2021-03-07, 2021-10-31-preview,
        2021-11-01, 2022-06-01, 2022-10-01
      content-type:
      - application/json; charset=utf-8
      ms-cv:
      - 8706TD0HO0+kxl2H+JDCaQ.0
      x-processing-time:
      - 131ms
    status:
      code: 201
      message: Created
[...]
- request:
    body: '{"topic": "chat-topic", "participants": []}'
    headers:
      Content-Type:
      - application/json
      repeatability-request-id:
      - 5d2d0ea6-9a8d-425a-bceb-7c479fff46b0
    method: POST
    uri: https://sanitized.communication.azure.com/chat/threads?api-version=2021-09-07
  response:
    body:
      string: '{"chatThread": {"id": "sanitized", "topic": "chat-topic", "createdOn":
        "2022-11-16T04:41:02Z", "createdByCommunicationIdentifier": {"rawId": "sanitized",
        "communicationUser": {"id": "sanitized"}}}}'
    headers:
      api-supported-versions:
      - 2021-03-07, 2021-04-05-preview6, 2021-09-07, 2022-11-15-preview8
      content-type:
      - application/json; charset=utf-8
      location:
      - https://clitest000002.communication.azure.com/chat/threads/19%3Aqd3ocL26CegfMLrAYuuvp1tKrlziYydcz1M_WV2uGYA1@thread.v2
      ms-cv:
      - ADHifMScuE+xg25Gl8c0Ww.0
      x-processing-time:
      - 381ms
    status:
      code: 201
      message: Created
- request:
    body: '{"participants": [{"communicationIdentifier": {"rawId": "8:acs:b27ed6cf-faa1-49cc-a396-bd6010b4d6e7_00000015-1e9f-2e12-eaf3-543a0d00f6af",
      "communicationUser": {"id": "8:acs:b27ed6cf-faa1-49cc-a396-bd6010b4d6e7_00000015-1e9f-2e12-eaf3-543a0d00f6af"}}}]}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://sanitized.communication.azure.com/chat/threads/sanitized/participants/:add?api-version=2021-09-07
  response:
    body:
      string: '{}'
    headers:
      api-supported-versions:
      - 2021-03-07, 2021-04-05-preview6, 2021-09-07, 2022-11-15-preview8
      content-type:
      - application/json; charset=utf-8
      ms-cv:
      - 1i56g9gz30uQcgMNWokoIw.0
      x-processing-time:
      - 219ms
    status:
      code: 201
      message: Created
- request:
    body: '{"rawId": "sanitized", "communicationUser": {"id": "sanitized"}}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://sanitized.communication.azure.com/chat/threads/sanitized/participants/:remove?api-version=2021-09-07
  response:
    body:
      string: ''
    headers:
      api-supported-versions:
      - 2021-03-07, 2021-04-05-preview6, 2021-09-07, 2022-11-15-preview8
      ms-cv:
      - v6JzD7i6wkiUZBvL9FutzQ.0
      x-processing-time:
      - 273ms
    status:
      code: 204
      message: No Content
- request:
    body: '{"rawId": "sanitized", "communicationUser": {"id": "sanitized"}}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://sanitized.communication.azure.com/chat/threads/sanitized/participants/:remove?api-version=2021-09-07
  response:
    body:
      string: '{"CommunicationError": {"Code": "BadRequest", "Message": "Identifier
        format is invalid (8:acs:fakeid).", "Details": []}}'
    headers:
      api-supported-versions:
      - 2021-03-07, 2021-04-05-preview6, 2021-09-07, 2022-11-15-preview8
      content-type:
      - application/json
      ms-cv:
      - oM4COsCbXESXVU8S/BZVGA.0
      x-processing-time:
      - 4ms
    status:
      code: 400
      message: Bad Request
[...]
- request:
    body: '{"rawId": "sanitized", "communicationUser": {"id": "sanitized"}}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://sanitized.communication.azure.com/chat/threads/sanitized/participants/:remove?api-version=2021-09-07
  response:
    body:
      string: '{"CommunicationError": {"Code": "Forbidden", "Message": "The initiator
        doesn''t have the permission to perform the requested operation.", "Details":
        []}}'
    headers:
      api-supported-versions:
      - 2021-03-07, 2021-04-05-preview6, 2021-09-07, 2022-11-15-preview8
      content-type:
      - application/json
      ms-cv:
      - Q8kIIHsBTUW6DEfDBdI4sQ.0
      x-processing-time:
      - 95ms
    status:
      code: 403
      message: Forbidden
version: 1
