interactions:
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
      Repeatability-First-Sent:
      - '2022-11-20T23:05:51.890029Z'
      Repeatability-Request-ID:
      - e10fc043-6927-11ed-a061-6ca100547643
      x-ms-content-sha256:
      - RBNvo1WzZ4oRRq0W9+hknpT7T8If536DEMBg9hyq/4o=
      x-ms-date:
      - Sun, 20 Nov 2022 23:05:51 GMT
    method: POST
    uri: https://clitestj.communication.azure.com/rooms?api-version=2022-02-01
  response:
    body:
      string: '{"id":"99438714935667205","createdDateTime":"2022-11-20T23:05:52.4014003+00:00","validFrom":"2022-11-20T23:05:52.1184839+00:00","validUntil":"2023-05-19T23:05:52.1184839+00:00","roomJoinPolicy":"InviteOnly","participants":[]}'
    headers:
      api-supported-versions:
      - 2021-04-07, 2022-02-01
      content-type:
      - application/json; charset=utf-8
      location:
      - '99438714935667205'
      ms-cv:
      - F5oEVT67OkCTQCpj1m+tWA.0
      repeatability-result:
      - accepted
    status:
      code: 201
      message: Created
version: 1
