interactions:
- request:
    body: '{"createTokenWithScopes": ["chat"], "expiresInMinutes": null}'
    headers:
      Content-Type:
      - application/json
      x-ms-content-sha256:
      - RgFKX8sq6gKDc377EdeILf3jgzCijxLOR8s04qluHkc=
      x-ms-date:
      - Wed, 16 Nov 2022 04:37:44 GMT
    method: POST
    uri: https://sanitized.communication.azure.com/identities?api-version=2022-10-01
  response:
    body:
      string: '{"identity": {"id": "sanitized"}, "accessToken": {"token": "sanitized",
        "expiresOn": "2022-11-17T04:37:45.6249435+00:00"}}'
    headers:
      api-supported-versions:
      - 2020-07-20-preview2, 2021-02-22-preview1, 2021-03-07, 2021-10-31-preview,
        2021-11-01, 2022-06-01, 2022-10-01
      content-type:
      - application/json; charset=utf-8
      ms-cv:
      - rjj63qkj8Ui78ZgGpw0R2w.0
      x-processing-time:
      - 129ms
    status:
      code: 201
      message: Created
- request:
    body: '{"topic": "another-topic", "participants": []}'
    headers:
      Content-Type:
      - application/json
      repeatability-request-id:
      - b1ba2fde-5a0f-4f8c-891b-5bcd052000d4
    method: POST
    uri: https://sanitized.communication.azure.com/chat/threads?api-version=2021-09-07
  response:
    body:
      string: '{"chatThread": {"id": "sanitized", "topic": "another-topic", "createdOn":
        "2022-11-16T04:37:46Z", "createdByCommunicationIdentifier": {"rawId": "sanitized",
        "communicationUser": {"id": "sanitized"}}}}'
    headers:
      api-supported-versions:
      - 2021-03-07, 2021-04-05-preview6, 2021-09-07, 2022-11-15-preview8
      content-type:
      - application/json; charset=utf-8
      location:
      - https://clitest000002.communication.azure.com/chat/threads/19%3AzaxxFs3-HKiyWW46S0TLSXH1L3sV4q3nwpaKHrxjNvA1@thread.v2
      ms-cv:
      - X5JY8mWzO0qmXq4DU5YQ7g.0
      x-processing-time:
      - 642ms
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
    method: GET
    uri: https://sanitized.communication.azure.com/chat/threads/sanitized/messages?startTime=2022-01-01T00%3A00%3A00.000Z&api-version=2021-09-07
  response:
    body:
      string: '{"value": [{"id": "1668573466691", "type": "topicUpdated", "sequenceId":
        "2", "version": "1668573466691", "content": {"topic": "another-topic", "initiatorCommunicationIdentifier":
        {"rawId": "8:acs:7adc12cc-a050-44a4-85db-b2730a91e31f_00000015-1e9c-3013-0cf9-9c3a0d00e235",
        "communicationUser": {"id": "8:acs:7adc12cc-a050-44a4-85db-b2730a91e31f_00000015-1e9c-3013-0cf9-9c3a0d00e235"}}},
        "createdOn": "2022-11-16T04:37:46Z"}, {"id": "1668573466601", "type": "participantAdded",
        "sequenceId": "1", "version": "1668573466601", "content": {"participants":
        [{"communicationIdentifier": {"rawId": "8:acs:7adc12cc-a050-44a4-85db-b2730a91e31f_00000015-1e9c-3013-0cf9-9c3a0d00e235",
        "communicationUser": {"id": "8:acs:7adc12cc-a050-44a4-85db-b2730a91e31f_00000015-1e9c-3013-0cf9-9c3a0d00e235"}},
        "shareHistoryTime": "1970-01-01T00:00:00Z"}], "initiatorCommunicationIdentifier":
        {"rawId": "8:acs:7adc12cc-a050-44a4-85db-b2730a91e31f_00000015-1e9c-3013-0cf9-9c3a0d00e235",
        "communicationUser": {"id": "8:acs:7adc12cc-a050-44a4-85db-b2730a91e31f_00000015-1e9c-3013-0cf9-9c3a0d00e235"}}},
        "createdOn": "2022-11-16T04:37:46Z"}]}'
    headers:
      api-supported-versions:
      - 2021-03-07, 2021-04-05-preview6, 2021-09-07, 2022-11-15-preview8
      content-type:
      - application/json; charset=utf-8
      ms-cv:
      - 9E1Ab8AfvUuZ/82WIGsV5Q.0
      x-processing-time:
      - 90ms
    status:
      code: 200
      message: OK
version: 1
