interactions:
- request:
    body: '{"createTokenWithScopes": ["chat"], "expiresInMinutes": null}'
    headers:
      Content-Type:
      - application/json
      x-ms-content-sha256:
      - RgFKX8sq6gKDc377EdeILf3jgzCijxLOR8s04qluHkc=
      x-ms-date:
      - Wed, 16 Nov 2022 04:37:40 GMT
    method: POST
    uri: https://sanitized.communication.azure.com/identities?api-version=2022-10-01
  response:
    body:
      string: '{"identity": {"id": "sanitized"}, "accessToken": {"token": "sanitized",
        "expiresOn": "2022-11-17T04:37:41.4535201+00:00"}}'
    headers:
      api-supported-versions:
      - 2020-07-20-preview2, 2021-02-22-preview1, 2021-03-07, 2021-10-31-preview,
        2021-11-01, 2022-06-01, 2022-10-01
      content-type:
      - application/json; charset=utf-8
      ms-cv:
      - uEQgntR/UU+6Z9wTD8jYEg.0
      x-processing-time:
      - 129ms
    status:
      code: 201
      message: Created
- request:
    body: '{"topic": "new-topic", "participants": []}'
    headers:
      Content-Type:
      - application/json
      repeatability-request-id:
      - aa2b1630-e19c-4608-952f-aefc32feca13
    method: POST
    uri: https://sanitized.communication.azure.com/chat/threads?api-version=2021-09-07
  response:
    body:
      string: '{"chatThread": {"id": "sanitized", "topic": "new-topic", "createdOn":
        "2022-11-16T04:37:42Z", "createdByCommunicationIdentifier": {"rawId": "sanitized",
        "communicationUser": {"id": "sanitized"}}}}'
    headers:
      api-supported-versions:
      - 2021-03-07, 2021-04-05-preview6, 2021-09-07, 2022-11-15-preview8
      content-type:
      - application/json; charset=utf-8
      location:
      - https://clitest000002.communication.azure.com/chat/threads/19%3AzUW_vvUVWclnzKo5IknCCMABNyYREHTIVSMDQlzMUKE1@thread.v2
      ms-cv:
      - IExBYA9RikO+BUQBLKHvKQ.0
      x-processing-time:
      - 711ms
    status:
      code: 201
      message: Created
- request:
    body: '{"content": "hello!", "type": "html"}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://sanitized.communication.azure.com/chat/threads/sanitized/messages?api-version=2021-09-07
  response:
    body:
      string: '{"id": "sanitized"}'
    headers:
      api-supported-versions:
      - 2021-03-07, 2021-04-05-preview6, 2021-09-07, 2022-11-15-preview8
      content-type:
      - application/json; charset=utf-8
      location:
      - https://clitest000002.communication.azure.com/chat/threads/19%3AzUW_vvUVWclnzKo5IknCCMABNyYREHTIVSMDQlzMUKE1@thread.v2/messages/1668573463603
      ms-cv:
      - psMOfxDEhE6ZcdyhbXd9Ww.0
      x-processing-time:
      - 193ms
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
    method: GET
    uri: https://sanitized.communication.azure.com/chat/threads/sanitized/messages/sanitized?api-version=2021-09-07
  response:
    body:
      string: '{"id": "sanitized", "type": "html", "sequenceId": "3", "version": "1668573463603",
        "content": {"message": "hello!"}, "senderDisplayName": "", "createdOn": "2022-11-16T04:37:43Z",
        "senderCommunicationIdentifier": {"rawId": "sanitized", "communicationUser":
        {"id": "sanitized"}}}'
    headers:
      api-supported-versions:
      - 2021-03-07, 2021-04-05-preview6, 2021-09-07, 2022-11-15-preview8
      content-type:
      - application/json; charset=utf-8
      ms-cv:
      - uBEsMhjYak+xxZjqPkGMkQ.0
      x-processing-time:
      - 152ms
    status:
      code: 200
      message: OK
version: 1
