interactions:
- request:
    body: '{"roomJoinPolicy": "azure12345"}'
    headers:
      Content-Type:
      - application/json
      Repeatability-First-Sent:
      - '2022-11-18T00:34:37.323465Z'
      Repeatability-Request-ID:
      - c80727df-66d8-11ed-85f5-6ca100547643
      x-ms-content-sha256:
      - oyvw7nmJwqfGg4WefiXdtWSG0WwA8NpyXs5EaT2qzzQ=
      x-ms-date:
      - Fri, 18 Nov 2022 00:34:37 GMT
    method: POST
    uri: https://sanitized.communication.azure.com/rooms?api-version=2022-02-01
  response:
    body:
      string: '{"type":"https://tools.ietf.org/html/rfc7231#section-6.5.1","title":"One
        or more validation errors occurred.","status":400,"traceId":"00-e7873e9a252a5f7dd3511ff8231cc4e7-9f7c3fbe2c38e4bc-00","errors":{"createRoomRequest":["The
        createRoomRequest field is required."],"$.roomJoinPolicy":["The JSON value
        could not be converted to Microsoft.AzureCommunicationService.Rooms.Api.Contracts.V2022_02_01.RoomJoinPolicyDto.
        Path: $.roomJoinPolicy | LineNumber: 0 | BytePositionInLine: 31."]}}'
    headers:
      content-type:
      - application/problem+json; charset=utf-8
      ms-cv:
      - ZEphtWxR4k6c8h7FshbEbQ.0
    status:
      code: 400
      message: Bad Request
version: 1
