interactions:
- request:
    body: '{"roomJoinPolicy": "azure12345"}'
    headers:
      Content-Type:
      - application/json
      Repeatability-First-Sent:
      - '2022-11-19T21:19:23.095098Z'
      Repeatability-Request-ID:
      - d6a1424a-684f-11ed-9498-6ca100547643
      x-ms-content-sha256:
      - oyvw7nmJwqfGg4WefiXdtWSG0WwA8NpyXs5EaT2qzzQ=
      x-ms-date:
      - Sat, 19 Nov 2022 21:19:23 GMT
    method: POST
    uri: https://clitestj.communication.azure.com/rooms?api-version=2022-02-01
  response:
    body:
      string: '{"type":"https://tools.ietf.org/html/rfc7231#section-6.5.1","title":"One
        or more validation errors occurred.","status":400,"traceId":"00-2f897b4303ecfd1f6b65a61b1af500a1-7247e851f5b72080-00","errors":{"createRoomRequest":["The
        createRoomRequest field is required."],"$.roomJoinPolicy":["The JSON value
        could not be converted to Microsoft.AzureCommunicationService.Rooms.Api.Contracts.V2022_02_01.RoomJoinPolicyDto.
        Path: $.roomJoinPolicy | LineNumber: 0 | BytePositionInLine: 31."]}}'
    headers:
      content-type:
      - application/problem+json; charset=utf-8
      ms-cv:
      - 62+BVdizf0yLhjt9DgO7Kw.0
    status:
      code: 400
      message: Bad Request
version: 1
