interactions:
- request:
    body: '{"roomJoinPolicy": "azure12345"}'
    headers:
      Content-Type:
      - application/json
      Repeatability-First-Sent:
      - '2022-11-18T23:02:37.530918Z'
      Repeatability-Request-ID:
      - 18636781-6795-11ed-9a75-6ca100547643
      x-ms-content-sha256:
      - oyvw7nmJwqfGg4WefiXdtWSG0WwA8NpyXs5EaT2qzzQ=
      x-ms-date:
      - Fri, 18 Nov 2022 23:02:37 GMT
    method: POST
    uri: https://clitestj.communication.azure.com/rooms?api-version=2022-02-01
  response:
    body:
      string: '{"type":"https://tools.ietf.org/html/rfc7231#section-6.5.1","title":"One
        or more validation errors occurred.","status":400,"traceId":"00-89917a2ec2c96b07c38c3c054a2de4ea-08159c5ed6d7d97f-00","errors":{"createRoomRequest":["The
        createRoomRequest field is required."],"$.roomJoinPolicy":["The JSON value
        could not be converted to Microsoft.AzureCommunicationService.Rooms.Api.Contracts.V2022_02_01.RoomJoinPolicyDto.
        Path: $.roomJoinPolicy | LineNumber: 0 | BytePositionInLine: 31."]}}'
    headers:
      content-type:
      - application/problem+json; charset=utf-8
      ms-cv:
      - WlIN4TQ2EE61kDWpE4EZQw.0
    status:
      code: 400
      message: Bad Request
version: 1
