interactions:
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
      Repeatability-First-Sent:
      - '2022-11-18T17:44:24.654219Z'
      Repeatability-Request-ID:
      - a4259f75-6768-11ed-af84-6ca100547643
      x-ms-content-sha256:
      - RBNvo1WzZ4oRRq0W9+hknpT7T8If536DEMBg9hyq/4o=
      x-ms-date:
      - Fri, 18 Nov 2022 17:44:24 GMT
    method: POST
    uri: https://sanitized.communication.azure.com/rooms?api-version=2022-02-01
  response:
    body:
      string: '{"id": "sanitized", "createdDateTime": "2022-11-18T17:44:26.130363+00:00",
        "validFrom": "2022-11-18T17:44:26.0322093+00:00", "validUntil": "2023-05-17T17:44:26.0322093+00:00",
        "roomJoinPolicy": "InviteOnly", "participants": []}'
    headers:
      api-supported-versions:
      - 2021-04-07, 2022-02-01
      content-type:
      - application/json; charset=utf-8
      location:
      - '99495060015757585'
      ms-cv:
      - jR1REfSLOUiDSAZshYvK0w.0
      repeatability-result:
      - accepted
    status:
      code: 201
      message: Created
version: 1
