interactions:
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
      Repeatability-First-Sent:
      - '2022-11-20T22:06:31.077909Z'
      Repeatability-Request-ID:
      - 96a6c669-691f-11ed-8f12-6ca100547643
      x-ms-content-sha256:
      - RBNvo1WzZ4oRRq0W9+hknpT7T8If536DEMBg9hyq/4o=
      x-ms-date:
      - Sun, 20 Nov 2022 22:06:31 GMT
    method: POST
    uri: https://clitestj.communication.azure.com/rooms?api-version=2022-02-01
  response:
    body:
      string: '{"id":"99418734172110782","createdDateTime":"2022-11-20T22:06:31.3728032+00:00","validFrom":"2022-11-20T22:06:31.3068522+00:00","validUntil":"2023-05-19T22:06:31.3068522+00:00","roomJoinPolicy":"InviteOnly","participants":[]}'
    headers:
      api-supported-versions:
      - 2021-04-07, 2022-02-01
      content-type:
      - application/json; charset=utf-8
      location:
      - '99418734172110782'
      ms-cv:
      - xjZDgth/A0mP40sMysQW1w.0
      repeatability-result:
      - accepted
    status:
      code: 201
      message: Created
version: 1
