interactions:
- request:
    body: '{"roomJoinPolicy": ""}'
    headers:
      Content-Type:
      - application/json
      Repeatability-First-Sent:
      - '2022-11-18T00:31:49.223459Z'
      Repeatability-Request-ID:
      - 63d52163-66d8-11ed-8b7e-6ca100547643
      x-ms-content-sha256:
      - LJvtE1LZaxgY9XmWunth2tfBdvuYFj+KHCLiPFwnMZ0=
      x-ms-date:
      - Fri, 18 Nov 2022 00:31:49 GMT
    method: POST
    uri: https://sanitized.communication.azure.com/rooms?api-version=2022-02-01
  response:
    body:
      string: '{"type":"https://tools.ietf.org/html/rfc7231#section-6.5.1","title":"One
        or more validation errors occurred.","status":400,"traceId":"00-e468bc037a63c604c436e81e4d6ead0e-9dc1f07fa909abe2-00","errors":{"createRoomRequest":["The
        createRoomRequest field is required."],"$.roomJoinPolicy":["The JSON value
        could not be converted to Microsoft.AzureCommunicationService.Rooms.Api.Contracts.V2022_02_01.RoomJoinPolicyDto.
        Path: $.roomJoinPolicy | LineNumber: 0 | BytePositionInLine: 21."]}}'
    headers:
      content-type:
      - application/problem+json; charset=utf-8
      ms-cv:
      - 9w8Ws0IJykygZsOVhZrX9A.0
    status:
      code: 400
      message: Bad Request
version: 1
