interactions:
- request:
    body: '{"createTokenWithScopes": ["chat"], "expiresInMinutes": null}'
    headers:
      Content-Type:
      - application/json
      x-ms-content-sha256:
      - RgFKX8sq6gKDc377EdeILf3jgzCijxLOR8s04qluHkc=
      x-ms-date:
      - Wed, 16 Nov 2022 04:37:43 GMT
    method: POST
    uri: https://sanitized.communication.azure.com/identities?api-version=2022-10-01
  response:
    body:
      string: '{"identity": {"id": "sanitized"}, "accessToken": {"token": "sanitized",
        "expiresOn": "2022-11-17T04:37:43.7130107+00:00"}}'
    headers:
      api-supported-versions:
      - 2020-07-20-preview2, 2021-02-22-preview1, 2021-03-07, 2021-10-31-preview,
        2021-11-01, 2022-06-01, 2022-10-01
      content-type:
      - application/json; charset=utf-8
      ms-cv:
      - X2W5GGc4M0iUH7Yzl4tuuQ.0
      x-processing-time:
      - 127ms
    status:
      code: 201
      message: Created
- request:
    body: '{"topic": "some-topic", "participants": []}'
    headers:
      Content-Type:
      - application/json
      repeatability-request-id:
      - 1cd3ff97-5522-4e26-af88-a290b002cf85
    method: POST
    uri: https://sanitized.communication.azure.com/chat/threads?api-version=2021-09-07
  response:
    body:
      string: '{"chatThread": {"id": "sanitized", "topic": "some-topic", "createdOn":
        "2022-11-16T04:37:44Z", "createdByCommunicationIdentifier": {"rawId": "sanitized",
        "communicationUser": {"id": "sanitized"}}}}'
    headers:
      api-supported-versions:
      - 2021-03-07, 2021-04-05-preview6, 2021-09-07, 2022-11-15-preview8
      content-type:
      - application/json; charset=utf-8
      location:
      - https://clitest000002.communication.azure.com/chat/threads/19%3AvHJbggFF6qZ_15uGHfRBYH_ug3wVdosKE3tWGx7tJl01@thread.v2
      ms-cv:
      - hooackrrAUWW2yKXCE1IDQ.0
      x-processing-time:
      - 590ms
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
    method: GET
    uri: https://sanitized.communication.azure.com/chat/threads/sanitized/participants?api-version=2021-09-07
  response:
    body:
      string: '{"value": [{"communicationIdentifier": {"rawId": "8:acs:bf229d88-92cb-49f7-a9bb-c6e8faafef72_00000015-1e9c-289b-b967-563a0d00f21f",
        "communicationUser": {"id": "8:acs:bf229d88-92cb-49f7-a9bb-c6e8faafef72_00000015-1e9c-289b-b967-563a0d00f21f"}},
        "shareHistoryTime": "1970-01-01T00:00:00Z"}]}'
    headers:
      api-supported-versions:
      - 2021-03-07, 2021-04-05-preview6, 2021-09-07, 2022-11-15-preview8
      content-type:
      - application/json; charset=utf-8
      ms-cv:
      - rwsKIKnLm0qI8QAvHFR9iA.0
      x-processing-time:
      - 158ms
    status:
      code: 200
      message: OK
version: 1
